.imperio{
    background-color: red;
}

.rebeldes{
    background-color: blue;
}

#darthVader{
    font-size: 24px;
}

#luke{
    font-style: italic;
}

.soldados{
    border: 3px solid grey;
    letter-spacing: 5px;
}

.unidadApoyo{
    text-align: center;
}

.nave{
    text-transform: uppercase;
}
